.biznet-search-bar .toolbar-title {
    text-align: left;
    font-size: 4vw;
}

.title-header {
    border-right: solid 2px rgba(1, 1, 1, 0.2);
    // padding: 0 15px;
    font-size: 18px;
    // font-weight: initial!important;
}